:root {
  --main-color: #fe9a51;
  --secondary-color: #fe6e51;
  --main-dark-color: #666666;
}
body {
  background-color: var(--main-color);
  color: white;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
h1 {
  color: white;
  background-color: var(--secondary-color);
  font-family: Lobster, sans-serif;
  font-size: 48px;
  border-radius: 30px;
  margin:20px;
}
p, label {
  color: var(--main-dark-color);
}

button {
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  text-transform: uppercase;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: var(--main-dark-color);
}
footer p {
  color:white;
}
.whole-container {
  position: relative;
  min-height: 100vh;
}
.container {
width: 30vw;
display:flex;
flex-wrap: wrap;
flex-direction: row;
margin:20px;
border: 10px solid var(--main-dark-color);
}
.content-container {
  width:35vw;
  margin:20px auto;
  display:flex;
  flex-direction: column;
  background-color: white;
  border-radius: 30px;
}
.page-container {
  padding-bottom: 2.5rem;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.button-container button {
  flex-grow: 1;
}
.button-container input {
  flex-grow: 1;
}
.block {
}
.hovered {
  background-color: black;
}
.column {
  flex-direction: column;
}
.gray {
  color: var(--main-dark-color);
}
#black-btn {
  background-color: black;
  color: white;
}
#rainbow {
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  color: white;
  text-shadow: 1px 1px  5px black;
}
#custom-color {
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  text-transform: uppercase;
}
#cutom-label{
background-color: black;
height: 32px;
width: 32px;
position: fixed;
}
#grid-input {
  margin: 8px 10px 12px 10px;
  width: 90%;
}

.paintbrush {
  cursor: crosshair;
}
.select-cursor {
  cursor: pointer;
}
